
  .container-admin{
    padding: 30px;
    background-color: #212121;
    color: #e4d6d6;
  }

  .container-admin img {
    background-color: #EEEEEE;
    padding: 1px;
    border-radius: 10px;
  }
  .container-admin .imgPc {
    background-color: #EEEEEE;
    padding: 5px;
    border-radius: 10px;
  }

  .relogio {
    left: 50%;
    color: #02c4a6;
    font-size: 25px;
    letter-spacing: 10px;
}

table {
  width: 100%;
}

table th{
  padding: 11px;
  background-color: #BF1363;
  font-weight: bold;
  font-size: 18px;
  padding: 8px;
}

table tr{
  border: 3px solid #EEEEEE;
}

table td{
  color: #EEEEEE;
  font-size: 18px;
  padding: 8px;
}
.botao-editar {
  background-color: #159ba0;
  color: #333B1E;
  font-weight: 600;
}

.botao-excluir {
  background-color: #c02121;
  font-weight: 600;
  border-color: #EEEEEE;
}

.botao-editar, .botao-excluir, .botao-adicionar, .btnEditar{
  padding: 3px 10px;
  border-radius: 10px;
  color: #EEEEEE;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
}

.botao-editar:hover {
  filter: saturate(400%);
}

.botao-excluir:hover, .botao-adicionar:hover, .btnEditar:hover{
  filter: saturate(300%);
}

.botao-adicionar {
  padding: 10px;
  background-color: #1bbcc2;
  font-weight: 600;
  border: 20px;
  border-color: #EEEEEE;
  color: #020202;
}

.btnEditar {
  padding: 10px;
  background-color: #BF1363;
  font-weight: 600;
  border: 20px;
  border-color: #EEEEEE;
  color: #020202;
}

.adicionar {
  background-color: #212121;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.editar {
  display: flex;
}

.container-adicionar {
  padding: 40px;
  background-color: #212121;
  color: #EEEEEE;
  font-weight: bold;
  margin: 40px;
}

.corpo {
  background-color: #212121;
  padding: 10px;
}

.plataformas img {
  border-radius: 10px;
  padding: 10px;
  background-color: #EEEEEE;
}