body{
    background-image: linear-gradient(2500000deg, red, blue);
    background-size: 300% 100%;
    animation: degrade-animado 5s infinite alternate ;
}
@keyframes body {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

main{
    height: 100%;

}
.container-artista{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
img{
    width: 400px;
    height: 600px;
}
.container-informacoes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}