h1{
    color: blue;
    text-align: center;
}
/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Estilo para o cabeçalho da tabela */
th {
    background-color: #f2f2f2;
    color: blue;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

/* Estilo para as células da tabela */
td {
    padding: 10px;
    border-bottom: 1px solid red;
}

/* Estilo para linhas alternadas (zebradas) */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo para o botão de excluir */
button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #c82333;
}
